@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
.slick-next,
.slick-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  border-radius: 100%;
  color: rgb(241, 241, 241) !important;
  /* border: 0.5px solid black; */
  cursor: pointer;
  /* font-size:2rem ; */
  width: 50px !important;
  height: 50px !important;
  padding:1rem  !important;
  background-color:rgba(201, 200, 200, 0.884);
  opacity:0.75;
}
/* .slick-next{
  right:5px;
}
.slick-prev{
  left:5px;
} */
.slick-slide {
  padding: 0 1rem;
}
